body{
    /* margin: 0;
    padding: 0; */
     background-color: #3c40c6;
}



.main{
    display: flex;
    /* gap: 750px; */
    justify-content: space-between;
    margin: 0 70px;
   
}

.left{
    /* padding: 20px 60px; */
    color: aliceblue;
    /* gap: 800px; */

  
} 


.right{
    display: flex;
    align-items: center;
    color: aliceblue;
    gap: 20px;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    flex-wrap: wrap;
}


.card{
    width: 300px;
    height: 235px;
    background-color:white ;
    color:black;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 2px 1px;
    gap: 100px;
}
.a{
    display: flex;
    gap: 150px;

}
.box1 img{
    width: 300px;
}
.box2{
    margin-left: 12px ;
}

/* colors */
.align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 15px;
    color: aliceblue;
}

.img img{
    width: 35px;

}
.colorMain{
    width: 100%;
    height: 100px;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;

}
.color{
    display: flex;
    /* flex-direction:column; */
    flex-wrap: wrap;

}
.c1{
    width: 350px;
    height: 200px;
    background-color: rgb(246, 229, 141);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
    /* right: 10px; */
    /* bottom: 10px; */
    
    
    
}
.c2{
    width: 350px;
    height: 200px;
    background: rgb(255, 190, 118);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c3{
    width: 350px;
    height: 200px;
    background: rgb(255, 121, 121);
    color: rgb(255, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c4{
    width: 350px;
    height: 200px;
    background: rgb(186, 220, 88);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c5{
    width: 350px;
    height: 200px;
    background: rgb(223, 249, 251);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c6{
    width: 350px;
    height: 200px;
    background: rgb(249, 202, 36);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c7{
    width: 350px;
    height: 200px;
    background: rgb(240, 147, 43);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c8{
    width: 350px;
    height: 200px;
    background: rgb(235, 77, 75);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c9{
    width: 350px;
    height: 200px;
    background: rgb(106, 176, 76);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c10{
    width: 350px;
    height: 200px;
    background: rgb(43, 80, 27);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c11{
    width: 350px;
    height: 200px;
    background: rgb(38, 136, 75);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c12{
    width: 350px;
    height: 200px;
    background: rgb(13, 122, 126);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c13{
    width: 350px;
    height: 200px;
    background: rgb(17, 18, 83);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c14{
    width: 350px;
    height: 200px;
    background: rgb(29, 86, 119);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c15{
    width: 350px;
    height: 200px;
    background: rgb(23, 143, 7);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c16{
    width: 350px;
    height: 200px;
    background: rgb(57, 8, 80);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c17{
    width: 350px;
    height: 200px;
    background: rgb(70, 9, 46);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c18{
    width: 350px;
    height: 200px;
    background: rgb(1, 13, 44);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c19{
    width: 350px;
    height: 200px;
    background: rgb(66, 2, 2);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
.c20{
    width: 350px;
    height: 200px;
    background: rgb(52, 172, 1);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    text-transform: uppercase;
}
  


@media screen and (max-width:768px){
    .main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    /* .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    
}

